@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
}

.dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
}

html {
    scroll-behavior: smooth;
}

body {
    @apply bg-black text-white font-inter;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-outfit;
}