@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
}

html {
    scroll-behavior: smooth;
}

body {
    @apply bg-white text-zinc-900 font-inter;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-outfit;
}